<div class="m-4">
  <form [formGroup]="form">
    <ng-container *ngFor="let control of formData">
      <div *ngIf="control.type === 'text'" class="mb-3">
        <label class="form-label mb-1">{{ control.label }}</label>
        <input
          type="text"
          class="form-control"
          [formControlName]="control.name"
        />
      </div>

      <div *ngIf="control.type === 'checkbox'" class="mb-3">
        <label class="form-label mb-1">{{ control.label }}</label>
        <div *ngFor="let option of control.options" class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            [value]="option.value"
            [formControlName]="control.name"
          />
          <label class="form-check-label">
            {{ option.label }}
          </label>
        </div>
      </div>
    </ng-container>
  </form>
</div>

<pre>{{ form.value | json }}</pre>
